/-overview {
  // zoom 0.5
  workspace-shadow {
    off
  }
}

// Set the regular wallpaper on the backdrop.
/-layer-rule {
  match namespace="^quickshell*"
  place-within-backdrop true
}

layer-rule {
    block-out-from "screencast"

    match namespace="quickshell:notification"
    match namespace="dms:notification"
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    opacity 0.9
    draw-border-with-background false

    // match app-id="st"
    // match app-id="Alacritty"
    match app-id="nemo"
    match app-id="thunar"
    match app-id="psensor"
    match app-id="gtkhash"
    match app-id="[Nn]autilus"
    match app-id="[Cc]alculator"
    match app-id="[Cc]locks"
    match app-id="[Tt]ransmission"
    match app-id="[Tt]hrone"
    match app-id="FileRoller"
    match app-id="psensor"
    match app-id="obsproject"
    // match app-id="[Tt]elegram"
    // match app-id="obsidian"
    // match app-id="code"
    // match app-id="google-chrome"
    // match app-id="zen"
    // match app-id="zathura"
}

window-rule {
    background-effect { 
        blur true
    }

    popups {
        // geometry-corner-radius 15
        opacity 0.9
        background-effect { blur true; }
    }

    match app-id="st"
    match app-id="Alacritty"
    match app-id="nemo"
    match app-id="thunar"
    match app-id="psensor"
    match app-id="gtkhash"
    match app-id="[Nn]autilus"
    match app-id="[Cc]alculator"
    match app-id="[Cc]locks"
    match app-id="[Tt]ransmission"
    match app-id="[Tt]hrone"
    match app-id="FileRoller"
    match app-id="psensor"
    match app-id="obsproject"
}

window-rule {
    open-on-workspace "home"

    match app-id="firefox"
    match app-id="google-chrome"
}

window-rule {
    block-out-from "screencast"
    default-column-width { proportion 0.33333; }

    match app-id="telegram"; exclude title="Media viewer"
}

window-rule {
    match is-window-cast-target=true

    border {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    open-maximized true

    // match app-id="firefox$"
    // match app-id="google-chrome"
    match app-id="[Zz]otero"
}

/-window-rule {
    default-column-width { proportion 0.66667; }

    // match app-id="vlc"
    match app-id="code"
}

window-rule {
    open-floating true

    match app-id="Amberol"
    match app-id="gtkhash"
    match app-id="[Cc]alculator"
    match app-id="[Cc]locks"
    match app-id="FileRoller"
    match app-id="psensor"
    match app-id="vlc" title="[Oo]pen"
    match app-id="[Tt]elegram" title="^Media viewer$"
    match app-id="firefox$" title="^Picture-in-Picture$"
}

// Example: block out two password managers from screen capture.
/-window-rule {
    block-out-from "screen-capture"

    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
